body {
    background-color: #393d3e;
    color: #FAF8F0;
    font-family: Arial, Helvetica, sans-serif
}

body {
    width: 30%;
    margin: auto;
}

@media screen and (orientation: portrait) {
    body {
        width: 90%;
    }
}

a {
    color: #a8a4a1;
}

/*
#303638 -> grey (background)
#789686 -> darker green
#A1C8B3 -> light green
#FAF8F0 -> white
#C23730 -> dark red
*/